$TTL    604800
@       IN      SOA     dns.{{ domain_name }}. admin.{{ domain_name }}. (
                         {{ ansible_date_time.epoch }}  ; Serial
                         604800     ; Refresh
                         86400      ; Retry
                         2419200    ; Expire
                         604800 )   ; Negative Cache TTL

; Name servers
@       IN      NS      dns.{{ domain_name }}.

; A records for main services
@               IN      A       {{ ingress_ip }}
dns             IN      A       {{ hostvars['dns']['zerotier_ip'] }}

; Controller and worker nodes
{% for host in groups['microk8s_control_plane'] %}
{{ host }}      IN      A       {{ hostvars[host]['zerotier_ip'] }}
{% endfor %}
{% for host in groups['microk8s_workers'] %}
{% if hostvars[host].get('zerotier_ip') %}
{{ host }}      IN      A       {{ hostvars[host]['zerotier_ip'] }}
{% endif %}
{% endfor %}

; Baremetal hosts
{% if 'bcn1' in hostvars %}
bcn1            IN      A       {{ hostvars['bcn1']['zerotier_ip'] }}
{% endif %}
{% if 'bcn2' in hostvars %}
bcn2            IN      A       {{ hostvars['bcn2']['zerotier_ip'] }}
{% endif %}

; Wildcard record for all services
*               IN      A       {{ ingress_ip }}