apiVersion: v1
kind: Secret
metadata:
  name: harbor-tls-secret
  namespace: {{ harbor_namespace }}
  annotations:
    {{ wildcard_cert.resources[0].metadata.annotations | to_nice_yaml(indent=4) | indent(4) }}
type: kubernetes.io/tls
data:
  tls.crt: {{ wildcard_cert.resources[0].data['tls.crt'] }}
  tls.key: {{ wildcard_cert.resources[0].data['tls.key'] }}