{
  "auths": {
    "{{ harbor_registry }}": {
      "username": "{{ admin_username }}",
      "password": "{{ admin_password }}",
      "auth": "{{ (admin_username + ':' + admin_password) | b64encode }}"
    }
  }
}