network:
  version: 2
  ethernets:
    enp5s0:
      dhcp4: no
      addresses: [{{ hostvars[vm_name]['internal_ip'] }}/24]
      routes:
        - to: default
          via: 192.168.100.1
      nameservers:
        addresses: [8.8.8.8, 8.8.4.4]
        search: ["{{ domain_name }}", "kn.{{ domain_name }}"]
    enp6s0:
      dhcp4: no
      addresses: [{{ hostvars[vm_name]['lan_ip'] }}/24]
      routes:
        - to: default
          via: {{ network_gateway }}
      nameservers:
        addresses: [8.8.8.8, 8.8.4.4]
        search: ["{{ domain_name }}", "kn.{{ domain_name }}"]
  # ZeroTier interface will be configured separately