network:
  version: 2
  ethernets:
    eth0:
      addresses: [{{ hostvars[item]['internal_ip'] }}/24]
      routes:
        - to: default
          via: 192.168.100.1
      nameservers:
        addresses: [8.8.8.8, 8.8.4.4]
    eth1:
      addresses: [{{ hostvars[item]['lan_ip'] }}/24]
      routes:
        - to: default
          via: {{ network_gateway }}
          metric: 100
      nameservers:
        addresses: [8.8.8.8, 8.8.4.4]