apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- namespace.yaml
- backend-deployment.yaml
- backend-service.yaml
- frontend-deployment.yaml
- frontend-service.yaml
- ingress.yaml
- keycloak-setup.yaml

images:
- name: harbor-core.registry.svc.cluster.local/thinkube/control-backend
  newTag: 20250409T170716 # backend
- name: harbor-core.registry.svc.cluster.local/thinkube/control-frontend
  newTag: 20250409T170716 # frontend

commonLabels:
  app.kubernetes.io/name: control-hub
  app.kubernetes.io/part-of: thinkube-platform
  app.kubernetes.io/managed-by: kustomize